.p-form-cont {
    margin-top: 150px;
}

.p-form-cont {
    display: flex;
    justify-content: center;
    min-height: 100vh;

}
.p-form-inner-cont{
    width: 700px;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background-color: #282c34;
}
.headingStyle{
    color: #61dafb;
    font-family: "Britannic Bold";
}
.p-form-image-cont {
    /* width: 250px;
    border-style: dotted;
    height: 140px;
    align-items: center;
    display: flex;
    align-content: center; */
}

.file-Upload-input {
    height: 100px;
    width: 230px;
}

.p-form-img-cont {
    display: flex;
    justify-content: center;
    text-align: center
}

.p-form-input {
    margin-bottom: 35px !important;
    border-style: solid !important;
    border-radius: 100px !important;
    padding: 10px !important;
}

.a-form-input {
    margin-bottom: 5px !important;
    border-style: solid !important;
    border-radius: 100px !important;
}

.p-form-input-collection {
    margin-bottom: 40px !important;
    width: 300px;
}

.p-form-btn-update{
    /*width: 100px;*/
    /*height: 20px;*/
    font-size: 13px;
    border-style: solid;
    border-radius: 10px;
    background-color: limegreen;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    /*font-weight: 600;*/
    border-color: green;
    padding: 2px;
    margin: 10px;
}
.p-form-btn-delete{
    /*width: 100px;*/
    /*height: 20px;*/
    font-size: 13px;
    border-style: solid;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    /*font-weight: 600;*/
    border-color: saddlebrown;
    padding: 2px;
    margin: 10px;
}


.p-form-btn:hover{
    background-color: white;
    color: #5e555a;
}

.p-form-heading-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}



.signup_container {
    width: 100%;
    /*min-height: 100vh;*/
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_form_container {
    width: 900px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3bb19b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left h1 {
    margin-top: 0;
    color: white;
    font-size: 35px;
    align-self: center;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container h1 {
    font-size: 40px;
    margin-top: 0;
}

.input {
    outline: none;
    border: none;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 14px;
}

.error_msg {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.white_btn,
.green_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.green_btn {
    background-color: #3bb19b;
    color: white;
    margin: 10px;
}

.cardName {
    font-weight: 800 !important;
    color: black;
    margin-top: 1rem;
}

.etherium {
    font-weight: 800 !important;
    color: black;
    margin-top: 1rem;
}

.ntf-card-img {
    border-radius: 15px !important;
}
