.sidebar-btn {
    height: 100%;
    width: 50px;
    position: fixed;
    background-color: var(--primary);
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 99;
}

.pi-filter-btn {
    background-color: var(--yellow);
    border: none;
    outline: none;
    color: var(--primary);
    position: fixed;
    top: 100px;
}

.pi-filter-btn:hover {
    background-color: var(--yellow);
    border: none;
    outline: none;
    color: var(--primary);
}

.main-content {
    /* padding: 100px 0px 0px 52px; */
    padding-top: 100px;
    background-color: var(--primary);
    min-height: 100vh;
}
